USE [DMUniversityBD]
GO
/****** Object:  Table [dbo].[DIM_COURSE]    Script Date: 11/16/2020 6:41:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_COURSE](
	[COURSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_NAME] [varchar](50) NOT NULL,
	[COURSE_DEPARTMENT] [varchar](50) NOT NULL,
	[COURSE_SCHOOL] [varchar](50) NOT NULL,
	[COURSE_COST] [float] NOT NULL,
 CONSTRAINT [PK_DIM_COURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_STAFF]    Script Date: 11/16/2020 6:41:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_STAFF](
	[STAFF_ID] [int] IDENTITY(1,1) NOT NULL,
	[STAFF_NAME] [varchar](50) NOT NULL,
	[STAFF_GENDER] [varchar](20) NOT NULL,
	[STAFF_AGE] [int] NOT NULL,
	[STAFF_CITY] [varchar](50) NOT NULL,
	[STAFF_ADDRESS] [varchar](50) NOT NULL,
	[STAFF_EMAIL] [varchar](50) NOT NULL,
	[STAFF_SALARY] [float] NOT NULL,
 CONSTRAINT [PK_DIM_STAFF] PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_STUDENT]    Script Date: 11/16/2020 6:41:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_STUDENT](
	[STUNDENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[STUDENT_NAME] [varchar](50) NOT NULL,
	[STUDENT_GENDER] [varchar](20) NOT NULL,
	[STUDENT_AGE] [int] NOT NULL,
	[STUDENT_MIDDLE] [varchar](50) NOT NULL,
	[STUDENT_CITY] [varchar](50) NOT NULL,
	[STUDENT_ADDRESS] [varchar](50) NOT NULL,
	[STUDENT_EMAIL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_STUDENT] PRIMARY KEY CLUSTERED 
(
	[STUNDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIME]    Script Date: 11/16/2020 6:41:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIME](
	[TIME_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIME_DATE] [date] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[TIME_MONTH] [varchar](20) NOT NULL,
	[TIME_WEEKDAY] [varchar](20) NOT NULL,
	[TIME_DAY] [int] NOT NULL,
 CONSTRAINT [PK_DIM_TIME] PRIMARY KEY CLUSTERED 
(
	[TIME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_SCORE]    Script Date: 11/16/2020 6:41:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_SCORE](
	[SCORE_COURSE_ID] [int] NOT NULL,
	[SCORE_STUDENT_ID] [int] NOT NULL,
	[SCORE_STAFF_ID] [int] NOT NULL,
	[SCORE_TIME_ID] [int] NOT NULL,
	[SCORE_SCORE] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACT_SCORE]  WITH CHECK ADD  CONSTRAINT [FK_FACT_SCORE_DIM_COURSE] FOREIGN KEY([SCORE_COURSE_ID])
REFERENCES [dbo].[DIM_COURSE] ([COURSE_ID])
GO
ALTER TABLE [dbo].[FACT_SCORE] CHECK CONSTRAINT [FK_FACT_SCORE_DIM_COURSE]
GO
ALTER TABLE [dbo].[FACT_SCORE]  WITH CHECK ADD  CONSTRAINT [FK_FACT_SCORE_DIM_STAFF] FOREIGN KEY([SCORE_STAFF_ID])
REFERENCES [dbo].[DIM_STAFF] ([STAFF_ID])
GO
ALTER TABLE [dbo].[FACT_SCORE] CHECK CONSTRAINT [FK_FACT_SCORE_DIM_STAFF]
GO
ALTER TABLE [dbo].[FACT_SCORE]  WITH CHECK ADD  CONSTRAINT [FK_FACT_SCORE_DIM_STUDENT] FOREIGN KEY([SCORE_STUDENT_ID])
REFERENCES [dbo].[DIM_STUDENT] ([STUNDENT_ID])
GO
ALTER TABLE [dbo].[FACT_SCORE] CHECK CONSTRAINT [FK_FACT_SCORE_DIM_STUDENT]
GO
ALTER TABLE [dbo].[FACT_SCORE]  WITH CHECK ADD  CONSTRAINT [FK_FACT_SCORE_DIM_TIME] FOREIGN KEY([SCORE_TIME_ID])
REFERENCES [dbo].[DIM_TIME] ([TIME_ID])
GO
ALTER TABLE [dbo].[FACT_SCORE] CHECK CONSTRAINT [FK_FACT_SCORE_DIM_TIME]
GO
